@{
    ViewData["Title"] = "My Music Store";
}

<div class="text-center">
    <h1 class="display-4">We probably cannot help if you've got a situatuion!.</h1>
    <p>Call 911 for help</p>
</div>
<div>
    <img src="/images/sos.jpg" width="1200" height="650" />
</div>
